  table, 
  thead, 
  tbody, 
  th, 
  td, 
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td:first-of-type {
    font-weight: bold;
  }