html {
    font-size: 65%;
  }

  .reviews-list li p:nth-child(2) {
    font-size: 1.3rem;
  }

  .inside .restaurant-container {
    padding: 2rem;
  }

  .reviews-list li {
    margin: 1rem;
  }

  .filter-options h3 {
    margin: 1rem 2rem;
  }

  .filter-options select {
    margin: 1rem 2rem;
  }

  .restaurants-list li {
    margin: 1rem;
  }